@import "tailwindcss";
body {
  font-family: 'Lato', sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation:
    typing 3s steps(30, end) forwards,
    blink 0.75s step-end 4 forwards;
}
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #f0f0f0;
  }
} */
